:root {
  --bg-color: #e9ecf8;
  --color-light-boton: #d8dfe8;
  --color-dark-boton: #0a3871;
  --color-white: #ffffff;
}

body {
  font-family: Inter, helvetica;
  background-color: var(--bg-color);
}

.header {
  height: 40px;
}

.header__logo {
  position: absolute;
  margin: 40px 60px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input {
  width: 70%;
  height: 480px;
  margin-left: 100px;
}

.input__texttarea {
  border: none;
  background: transparent;
  width: 90%;
  height: 450px;
  font-size: 32px;
  margin-left: 70px;
  color: var(--color-dark-boton);
  place-content: red;
}

.input__texttarea::placeholder {
  color: var(--color-dark-boton);
}

.input__texttarea:focus {
  outline: none;
}

.warning {
  display: inline-flex;
  margin-left: 70px;
  gap: 10px;
}

.warning__paragraph {
  font-size: 12px;
}

.container__button {
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 300px;
  height: 57px;
  border-radius: 20px;
  border-color: var(--color-dark-boton);
  background-color: var(--color-light-boton);
  color: var(--color-dark-boton);
  cursor: pointer;
}

.button:active {
  scale: 1.1;
}

.button--blue {
  background-color: var(--color-dark-boton);
  color: var(--color-white);
}
.button--copy {
  width: 100% !important
}
.ouput {
  width: 300px;
  height: 650px;
  background-color: var(--color-white);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 10px 10px 10px;
}

.content__ouput {
  width: 220px;
  height: 570px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 40px;
  text-align: left;
  align-items: flex-start;
  word-break: break-all;
}

.ouput__muneco {
  width: 350px;
}

.ouput__heading {
  font-size: 20px;
}

.ouput__paragraph {
  font-size: 13px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.footer__paragraph {
  font-size: 18px;
}

.footer__logo {
  width: 25px;
  margin: 0 10px;
}

@media screen and (max-width: 1333px) {
  .input {
    width: 50%;
    height: 480px;
    margin-left: 100px;
  }
  .input__texttarea {
    width: 80%;
  }
  .button {
    width: 200px;
  }
  .footer {
    bottom: 0;
  }
}
@media screen and (max-width: 880px) {
  .input {
    width: 100%;
    margin: 120px 0px;
  }
  .input__texttarea {
    width: 90%;
    margin: 0px 50px;
  }
  .button {
    width: 250px;
  }
  .warning {
    margin-left: 95px;
  }
  .footer {
    bottom: auto;
  }

  .ouput,
  .content__ouput {
    width: 70%;
    height: 350px;
  }
  .ouput__muneco {
    visibility: hidden;
    width: 2px;
  }
}

@media screen and (max-width: 545px) {
  .header__logo {
    margin: 15px;
  }
  .input {
    width: 100%;
    height: 480px;
    margin: 70px 0px;
  }
  .input__texttarea {
    width: 90%;
    margin: 0px 10px;
  }
  .container__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .button {
    width: 90%;
  }
  .warning {
    margin-left: 10px;
  }

  .ouput {
    width: 90%;
    height: 200px;
    margin-top: 120px;
  }

  .content__ouput {
    width: 73%;
    height: auto;
    margin-top: 120px;
  }
  .ouput__muneco {
    visibility: hidden;
    width: 2px;
  }
}
